body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./images/3_D_Bilder.jpg);
  background-size: cover;
}

a {
  color: #a9a9a9;
  text-decoration: none;
  font-size: 12px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  background-image: url(./images/3_D_Bilder.jpg);
  background-size: cover;
  font-size: 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

img {
  width: 150px;
}

form {
  border: 3px solid #f1f1f1;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 0;
  border: 2px solid red;
  cursor: pointer;
  width: 100px;
  height: 40px;
}

button:hover {
  opacity: 0.8;
}

.sign-in {
  position: absolute;
  right: 40px;
  top: 30px;
}

.face_logo {
}

.sign-in a {
  color: rgb(204, 23, 23);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.language {
  float: right;
}

.language select {
  color: white;
  background-color: #333;
  border: none;
  font-size: 18px;
}

nav {
  display: flex;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.main {
  padding: 20px 0;
}

.hero {
  background-color: #181616;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 30px;
}

h3 {
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.movies {
  padding: 50px 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 25%;
}

.movie img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #181616;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Распределение столбцов по ширине */

  /*    align-items: center;
        justify-content: center;*/
}

.column {
  flex: 1; /* Равномерное распределение ширины для каждой колонки */
  padding: 0 20px; /* Добавление отступов между столбцами */
}

.column ul {
  list-style: none; /* Удаление маркера у списка */
  padding: 0;
}

.column ul li {
  margin-bottom: 10px; /* Добавление отступов между ссылками */
}

footer p {
  margin: 0;
}
