html,
body {
  font-family: Arial, sans-serif;
  font-size: small;
  margin: 0;
  padding: 0;
  background-color: black;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.597);
  color: #fff;
  padding: 10px 0;
  z-index: 1;
}

header h1 {
  margin-left: 40px;
  font-size: 42px;
}

nav {
  display: flex;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.reality {
  width: 200px;
  height: 350px;
  padding: 20px;
  border-width: 1px;
  border-radius: 20px;
  border-color: red;
  border-style: double;
  margin: 20px;
  justify-items: center;
}

h2 {
  color: white;
  margin: 20px 0 0 40px;
}

h2 {
  color: white;
  font-size: 24px;
  margin: 120px 0 0 40px;
}

.films-container {
  display: flex;
  position: relative;
  margin-top: 60px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.film {
  width: 200px;
  height: 350px;
  padding: 20px;
  border-width: 1px;
  border-radius: 20px;
  border-color: red;
  border-style: double;
  margin: 20px;
  justify-items: center;
}

img {
  height: 90%;
  width: 100%;
}

footer {
  background-color: #181616;
  margin-top: 5px;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 0 20px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 10px;
}

footer p {
  margin: 0;
}

p {
  color: #fff;
}

a {color: grey;

}
